---
---
<!-- get modelType -->
{% include fragment-modelType.html id='template-basic' %}

{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-profile-navtabs.html type='StructureDefinition' id='template-basic' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{modelType}}: TemplateBasic - Change History</h2>
  <p>Changes in the template-basic {{modelType | downcase}}.</p>

  {%include StructureDefinition-template-basic-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
